@{
    ViewData["Title"] = "Home Page";
}

<style>
    .card-img{
        opacity:0.5;
    }
</style>


<div class="card bg-dark text-white">
    <img style="height:350px;" src="https://media.istockphoto.com/photos/shopping-online-concept-shopping-service-on-the-online-web-with-by-picture-id1133980246?k=6&m=1133980246&s=612x612&w=0&h=FeSvkjQBjMhru74vd2Y7o66QG7xtlG9j3pxpw9mb-BQ=" class="card-img" alt="...">
    <div class="card-img-overlay">
        <h1 class="display-4" style="margin-top:50px"><b>Welcome to <br />Charity Website</b></h1>
        <p class="card-text">
            This is a wider card with supporting text below as
            a natural lead-in to additional<br /> content. This content is a little bit longer.
        </p>
        <a href="#" class="btn btn-outline-dark">Learn more >></a>
        <a href="/Home/ProductsList" class="btn btn-primary">Buy Charity Products</a>
    </div>
</div>
<br />


<div class="row">
    <div class="col-md-4">
        <div class="card bg-dark text-white">
            <img src="https://www.affordable.pk/uploads/products/thumbs/large_16137216440_short-shirt-design-branded-t-shirts-in-pakistan-baby-boy-t-shirt-kids-online-shopping-shopping-for-baby-boy-t-shirt-Baby-boy-online-shopping-in-Pakistan_(2).jpg" class="card-img" alt="...">
            <div class="card-img-overlay">
                <h3 class="card-title">Testing Card 1</h3>
                <p class="card-text">This is a wider card with supporting text
                below as a natural lead-in to additional content. This content is a little bit longer.</p>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="card bg-dark text-white">
            <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQekdfGIyNdYRN8BC-y5hzU7jSJPJsZ_fTRzWwea3qHcZS5VmsGOiTlhS4fq90x-iMNGF0&usqp=CAU" class="card-img" alt="...">
            <div class="card-img-overlay">
                <h3 class="card-title">Testing Card 2</h3>
                <p class="card-text">This is a wider card with supporting text 
                below as a natural lead-in to additional content. This content is a little bit longer.</p>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="card bg-dark text-white">
            <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRZjTPGzZzuklkepamxXUhfzYQ6AIbHK4mf5Q&usqp=CAU" class="card-img" alt="...">
            <div class="card-img-overlay">
                <h3 class="card-title">Testing Card 3</h3>
                <p class="card-text">This is a wider card with supporting text 
                below as a natural lead-in to additional content. This content is a little bit longer.</p>
            </div>
        </div>
    </div>
</div>